cards/target
engine/target
gui/target
development/target
.settings
.classpath
.project
cards/.settings
cards/.classpath
cards/.project
engine/.settings
engine/.classpath
engine/.project
gui/.settings
gui/.classpath
gui/.project
development/.settings
development/.classpath
development/.project